*{
    margin: 0;
}

.contents{
    width: 100%;
    height: auto;
    border: 1px solid black;
    background-color: gray;
    
}

#content-top, #content-mid1, #content-mid2, #content-bottom
{
    width: 1500px;
    height: 1307px;
    border: 1px solid black;
    margin: 0 auto;
    background-color: red;
}

#content-top{
    display: flex;
}

#content-top>aside:nth-child(1)>div{
    width: 745px;
    height: 268px;
    border: 1px solid black;
    background-color: orange;
}
#content-top>aside:nth-child(2)>div{
    width: 745px;
    height: 268px;
    border: 1px solid black;
    background-color: yellow;
}

#content-mid1{
   display: flex;
   flex-wrap: wrap;
   
}

#content-mid1>div:nth-child(1){
    width: 1490px;
    height: 433px;
    border: 2px solid black;
    background-color: green;
}

#content-mid1>aside:nth-child(2){
    width: 740px;
    height: 433px;
    border: 2px solid black;
    background-color: blue;
}

#content-mid1>aside:nth-child(3){
    width: 740px;
    height: 433px;
    border: 2px solid black;
    background-color: midnightblue;
}

#content-mid1>div:nth-child(4){
    width: 1490px;
    height: 433px;
    border: 2px solid black;
    background-color: purple;
}

#content-mid2{
  
}

#content-mid2>div:nth-child(1){
    width: 1500px;    
    height: 701px;
    border: 1px solid black;
    background-color: lightcoral;

}

#content-mid2>div:nth-child(1)>h1{
    border: 1px solid black;
    background-color: lightyellow;
}

#content-mid2>div:nth-child(1)>span{

    font-size: 50px;
    border: 1px solid black;
    display: block;
    background-color: lightpink;

}

#content-mid2>div:nth-child(2){
    width: 1500px;
    height: 605px;
    border: 1px solid black;
    display: flex;
    background-color: lightgreen;
}

#content-mid2>div:nth-child()>a{
   
    display: block;
    width: 400px;
    height: 330px;
    border: 1px solid black;
    background-color: lightskyblue;
}

#content-bottom{
 
}

#content-bottom>div:nth-child(1){
    width: 1500px;
    height: 650px;
    border: 1px solid black;
    background-color: pink;
}
#content-bottom>div:nth-child(2){
    width: 1500px;
    height: 653px;
    border: 1px solid black;
    background-color: steelblue;
}
